[submodule "CstCmake"]
	path = CstCmake
	url = https://github.com/yuanronghhh/CstCmake.git
	branch = master
  update = merge
[submodule "System"]
	path = System
	branch = dev
	url = https://github.com/yuanronghhh/System.git
	update = merge
