{%
  #include "AppButton.h"
%}


Component<id: "app-button">: {
  Style: {
    button-box: {
      padding: [20, 20, 20, 20]
    }
  },

  Layout: {
    LBox<id: "button-box", "@mouse_release": "app_btn_press">: {
      Text<id: "text0", value:"text0">: null
    }
  }
}
