Component<id: "layout-component">: {
  Style: {
    text2: {
      color: "#0000ff"
    },
    text9: {
      color: "#0000ff"
    },

    text-wrap: {
      font-family: "serif",
      font-size: 130
    },
    box1: {
      width: "100%",
      wrap: true,
      margin: [10, 10, 10, 10],
      padding: [10, 10, 10, 10]
    }
  },

  /**
   *
   *    +------------+++
   *    +            | +
   *    +  aaaaaaaa  | +
   *    +  aa        | +
   *    +            | +
   *    +----------- +-+
   *    +              +
   *    ++++++++++++++++
   *
   */
  Layout: {
    LBox<id: "box1">: {
      Text<id: "text1", base: ["text-wrap"], value: "a">: null,
      Text<id: "text2", base: ["text-wrap"], value: "a">: null,
      Text<id: "text3", base: ["text-wrap"], value: "a">: null,
      Text<id: "text4", base: ["text-wrap"], value: "a">: null,
      Text<id: "text5", base: ["text-wrap"], value: "a">: null,
      Text<id: "text6", base: ["text-wrap"], value: "a">: null,
      Text<id: "text7", base: ["text-wrap"], value: "a">: null,
      Text<id: "text8", base: ["text-wrap"], value: "a">: null,
      Text<id: "text9", base: ["text-wrap"], value: "a">: null,
      Text<id: "text10", base: ["text-wrap"], value: "a">: null
    }
  }
}
