GStyle: {
  Base: {
    width: "100%",
    height: "100%"
  },
  Text: {
    font-family: "serif",
    font-size: 12,
    color: "#ff0000"
  },
  LBody: {
    color: "#ffffff"
  },
  LGrid: null,
  LBox: null,
  "Component": {
    width: "100%",
    height: "100%"
  }
}
