

Component<id: "mini-menubar", base: "mini-menubase">: {
  Style: {
    "ma0": {
      padding: [5, 5, 5, 20]
    },
    "ma1": {
      width: "100%",
      font-size: 12
    }
  },

  Data: {
    value: ""
  },

  Props: {
    value: "string",
    "@press": "function"
  },

  Layout: {
    LBox<id: "ma0", "@mouse_release": "{{ @press }}">: {
      Text<id: "ma1", value: "{{ value }}", label: "{{ value }}">: null
    }
  }
}
