import MenuBar from "./MiniMenuBar.cst";


Component<id: "mini-component">: {
  Style: {
    menu-text: {
      color: "#0000ff"
    }
  },

  Layout: {
    LBox<id: "menu">: {
      MenuBar<value: "文件(F)", "@press": "mini_component_press2">: null,
      MenuBar<value: "编辑(F)", "@press": "mini_component_press2">: null,
      MenuBar<value: "退出(Q)", "@press": "mini_quit_key">: null
    },
    LGrid<id:"image-body">: {
    }
  }
}

