import MenuBar from "./MiniMenuBar.cst";


Component<id: "mini-component">: {
  Style: {
    menu-text: {
      color: "#0000ff"
    }
  },

  Layout: {
    LBox<id: "menu">: {
      MenuBar<value: "文件(F)", "@press1": "mini_btn_press2">: null,
      MenuBar<value: "编辑(E)">: null,
      MenuBar<value: "视图(V)">: null,
      MenuBar<value: "图像(I)">: null,
      MenuBar<value: "队列(L)">: null,
      MenuBar<value: "显示(V)">: null,
      MenuBar<value: "其他(O)">: null
    },
    LGrid<id:"image-body">: {
    }
  }
}

