
using CstGUI.CstCore;
using System;
using System.Diagnostics;
using System.Threading.Tasks;

namespace MonoDemo
{
    class MonoDemo
    {
        static void Main(string[] args)
        {
            CstComponent c = new CstComponent();

            Console.WriteLine("Done");
        }
    }
}
