{%
  static SysInt cst_button_onclick(FREvent *evt);
%}


Component<component-name: "Button">: {
  Style: {
    button-text: {
      color: "#ffffff"
      font-size: 12
    },
    button-box: {
      height: 10,
      width: 20
    }
  },

  Layout: {
    LBox<id: "button-box", onclick: "cst_button_onclick">: {
      Text<id: "button-text", value: "Button">: null
    }
  },

  Function: {%
    static SysInt cst_button_onclick(FREvent *evt) {
      CstWidget *w = fr_event_get_target(evt);
      SysChar *id = cst_widget_get_component_name(w);
      sys_printf("%s clicked", id);

      return EVENT_RECURSIVE;
    }
  %}
}
