import button from <Button.cst>;


Component<component-name: "Label">: {
  Style: {
    text: {
      color: "#ffffff"
      font-size: 12
    },
    label: {
      height: 10,
      width: 20
    }
  },

  Layout: {
    LBox<id: "label">: {
      Text<id: "text">: null
    }
  }
}

